{% extends 'baseAdmin.html' %}
{% load static %}
{% block title%}ITS - Admin Template{% endblock title%}

{% block main %}	
	<main class="content">
		<div class="container-fluid p-0">
			<h1 class="h3 mb-3"><strong>Admin</strong> Dashboard</h1>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title"></h5>
								</div>

								<div class="col-auto">
									<div class="stat text-primary">
										<i class="align-middle" data-feather="send"></i>
									</div>
								</div>
							</div>
							<h1 class="mt-1 mb-3">Articles</h1>
							<div class="mb-0">
								<span class="text-muted"> <i class="mdi mdi-arrow-bottom-right"></i>Total</span>
								<span class="text-danger">{{ nbre_article }}</span>
							</div>
						</div>
					</div>
					
								
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title"></h5>
								</div>

								<div class="col-auto">
									<div class="stat text-primary">
										<i class="align-middle" data-feather="mail"></i>
									</div>
								</div>
							</div>
							<h1 class="mt-1 mb-3">Inscriptions</h1>
							<div class="mb-0">
								<span class="text-muted"> <i class="mdi mdi-arrow-bottom-right"></i>En attente</span>
								<span class="text-warning">{{nbre_inscription}}</span>
							</div>
						</div>
					</div>			
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title"></h5>
								</div>

								<div class="col-auto">
									<div class="stat text-primary">
										<i class="align-middle" data-feather="award"></i>
									</div>
								</div>
							</div>
							<h1 class="mt-1 mb-3">Partenaires</h1>
							<div class="mb-0">
								<span class="text-muted"> <i class="mdi mdi-arrow-bottom-right"></i>Total</span>
								<span class="text-success">{{nbre_partenaire}}</span>
							</div>
						</div>
					</div>			
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title"></h5>
								</div>

								<div class="col-auto">
									<div class="stat text-primary">
										<i class="align-middle" data-feather="map"></i>
									</div>
								</div>
							</div>
							<h1 class="mt-1 mb-3">Infrastructures</h1>
							<div class="mb-0">
								<span class="text-muted"> <i class="mdi mdi-arrow-bottom-right"></i>Nombre</span>
								<span class="text-danger">{{nbre_infrastructure}}</span>
							</div>
						</div>
					</div>										
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title"></h5>
								</div>

								<div class="col-auto">
									<div class="stat text-primary">
										<i class="align-middle" data-feather="briefcase"></i>
									</div>
								</div>
							</div>
							<h1 class="mt-1 mb-3">Formations</h1>
							<div class="mb-0">
								<span class="text-muted"> <i class="mdi mdi-arrow-bottom-right"></i>Nombre</span>
								<span class="text-danger">{{nbre_formation}}</span>
							</div>
						</div>
					</div>										
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title"></h5>
								</div>

								<div class="col-auto">
									<div class="stat text-primary">
										<i class="align-middle" data-feather="cast"></i>
									</div>
								</div>
							</div>
							<h1 class="mt-1 mb-3">Realisations</h1>
							<div class="mb-0">
								<span class="text-muted"> <i class="mdi mdi-arrow-bottom-right"></i>Nombre</span>
								<span class="text-danger">{{nbre_realisation}}</span>
							</div>
						</div>
					</div>										
				</div>

				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title"></h5>
								</div>

								<div class="col-auto">
									<div class="stat text-primary">
										<i class="align-middle" data-feather="airplay"></i>
									</div>
								</div>
							</div>
							<h1 class="mt-1 mb-3">Options</h1>
							<div class="mb-0">
								<span class="text-muted"> <i class="mdi mdi-arrow-bottom-right"></i>Nombre</span>
								<span class="text-danger">{{ nbre_option }}</span>
							</div>
						</div>
					</div>										
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title"></h5>
								</div>

								<div class="col-auto">
									<div class="stat text-primary">
										<i class="align-middle" data-feather="book"></i>
									</div>
								</div>
							</div>
							<h1 class="mt-1 mb-3">Cours</h1>
							<div class="mb-0">
								<span class="text-muted"> <i class="mdi mdi-arrow-bottom-right"></i>Nombre</span>
								<span class="text-danger">{{nbre_cours}}</span>
							</div>
						</div>
					</div>										
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title"></h5>
								</div>

								<div class="col-auto">
									<div class="stat text-primary">
										<i class="align-middle" data-feather="inbox"></i>
									</div>
								</div>
							</div>
							<h1 class="mt-1 mb-3">Archives</h1>
							<div class="mb-0">
								<span class="text-muted"> <i class="mdi mdi-arrow-bottom-right"></i>Nombre</span>
								<span class="text-danger">{{nbre_archive}}</span>
							</div>
						</div>
					</div>										
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title"></h5>
								</div>

								<div class="col-auto">
									<div class="stat text-primary">
										<i class="align-middle" data-feather="users"></i>
									</div>
								</div>
							</div>
							<h1 class="mt-1 mb-3">Comptes</h1>
							<div class="mb-0">
								<span class="text-muted"> <i class="mdi mdi-arrow-bottom-right"></i>Nombre</span>
								<span class="text-danger">{{nbre_compte}}</span>
							</div>
						</div>
					</div>										
				</div>
		</div>
	</main>
{% endblock main %}
