{% extends 'baseAdmin.html' %}
{% load static %}
{% block title%}ITS - Compte{% endblock title%}

{% block main %}

<div class="main">

	<main class="content">
		<div class="container-fluid p-0">				
			<h1 class="h3 mb-3"><strong>Admin</strong> Partenaires</h1>	
			<div class="row">
				<div class="card flex-fill">
					<div class="row">
						<div class="row" style="padding-top: 40px;">
							<div class="col-1"></div>
							<div class="col-8">
								<form>
									<div class="row">
										<div class="col">
											<input class="form-control form-control-lg" type="text" name="text" placeholder="Nom du partenaire" />
										</div>
										<div class="col">
											<input class="form-control form-control-lg" type="date" name="date" placeholder="" />
										</div>
									
										<div class="col">
											<a type="submit" class="btn btn-lg btn-primary">
												<i data-feather="filter"></i>
											</a>
										</div>
									</div>
								</form>
							</div>
							<div class="col-1">
								<a class="btn btn-lg btn-primary" href="#"><i class="align-middle" data-feather="chevrons-down"></i></a>
							</div>
							<div class="col-1">
								<a class="btn btn-lg btn-primary" href="#"><i class="align-middle" data-feather="chevrons-up"></i></a>
							</div>
							<div class="col-1">
								<a class="btn btn-lg btn-primary"><i data-feather="plus-circle"></i></a>
							</div>
						</div>								
						<div class="card-header">
							<h5 class="card-title mb-0">Tableau des partenaires</h5>
						</div>										
							<table class="table table-hover my-0">
							<thead>
								<tr>
									<th>#</th>
									<th>Image</th>
									<th>Nom</th>
									<th>Date</th>
									<th class="d-none d-md-table-cell">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a style="text-decoration: none;" href="#">1</a></td>
									<td></td>
									<td></td>
									<td></td>
									<td class="d-none d-md-table-cell">
										<a class="btn btn-info" href="#"><i data-feather="edit"></i></a>
										<a class="btn btn-danger" href="#"><i data-feather="trash-2"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
			</div>
		</div>
	</main>
{% endblock main%}